apache-airflow[celery]
polygon-api-client
pandas_datareader
pydantic-settings
alpaca-trade-api
psycopg2-binary
scikit-learn
sqlalchemy
oandapyV20
backtrader
alpaca-py
requests
yfinance
pydantic
openpyxl
pandas
mlflow
minio
boto3
xlrd
v20
six